.header_nav {
    height: 40px;
    background-image: url('../images/banner.jpg');
    position: relative;
    z-index: 10;
    width: 100%;
}

.header_nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header_nav ul {
    padding-top: 5px;
}

.header_nav ul li {
    float: left;
    width: 20%; /*111px*/
    height: 28px;
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.header_nav ul li .main-link {
    display: inline-block;
    width: 125px; /*111px*/
    height: 28px;
    color: #FFFFFF;
}

