body {
    font-family: Arial, Helvetica, 'Î¢ÈíÑÅºÚ';
    font-size: 12px;
    color: #fbcf24;
    background-color: #fbcf24;
    /*background-image: url(../images/bg.jpg);*/
    /*background-repeat: no-repeat;*/
}

html, body {
    -webkit-text-size-adjust: none;
}

body td {
    text-align: center;
}

li {
    vertical-align: top !important;
    zoom: 1;
}



a:link, a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #7b289c;
    text-decoration: underline;
}

.title_bg {
    background-image: url(../images/title_sprites.png);
    background-repeat: no-repeat;
}

/*top*/
.top {
    height: 174px;
    background: #fbcf24 url(../images/top_bg.jpg) 0px bottom repeat-x;
}

.top_con {
    width: 1000px;
    height: 170px;
}

.top_logo {
    padding-top: 35px;
    width: 140px;
    height: 89px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    
}

.top_logo h1 {
    display: none;
}

.top_slogan {
    padding: 46px 0px 0px 0px;
    width: 400px;
    height: 50px;
    line-height: 43px;
    letter-spacing:0px;
}

.top_slogan h2 {
    font-size:30px;
    color: #231917;
}

.top_slogan p {
    font-weight: bold;
    color: #b5b5b5;
    font-size: 28px;
}

.top_con_r {
    padding-top: 20px;
    width: 415px;
    height: 110px;
}

.top_con_phone {
    text-align: right;
    line-height: 22px;
    font-size: 14px;
    color: #bbbbbb;
    height:55px;
}

.top_con_phone img {
    padding-right: 10px;
    /*vertical-align: middle;*/
}

.top_vice_tour {
    padding-top: 69px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.top_vice_tour a {
    padding: 0px 10px;
    border-right: dashed 1px #b9b9b9;
    width: 75px;
}

/*index content*/
.index_con {
    width: 1000px;
    
}

.index_banner, .inside_banner {
    padding-bottom: 10px;
}

.index_banner {
    border-bottom: dashed 1px #dddddd;
}

.index_banner_l {
    padding: 40px 0px 0px 20px;
    width: 85px;
}

.index_banner_l a {
    /*margin-top: 16px;*/
    /*padding-bottom: 3px;*/
    border-bottom: solid 1px #8e8684;
    width: 85px;
    height: 32px;
    line-height:40px;
    display: block;
    overflow:hidden;
    text-align:right;
    color:#000000;
}
.index_banner_l a:hover{
    color:#000000;
    text-decoration:none;
}
.index_banner_l a label{
    font-family:"Consolas";
    font-size:11px;
    letter-spacing:-1px;
}
.index_banner_l a span{
    letter-spacing:2px;
    font-size:12px;
}


.index_banner_r {
    width: 1000px;
}

.index_banner_img {
    width: 1000px;
    height: 310px;
    overflow: hidden;
}

.index_banner_menu {
    padding-top: 4px;
}

.index_banner_menu ul li img{
    margin-right: 4px;
    width: 278px;
    height: 110px;
    float: left;
    display: inline;
    position: relative;
}

.service-banner .hover {
    padding-top: 35px;
    width: 280px;
    height: 75px;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    background: #7b2998;
}

.service-banner .hover h3{
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 8px;
}

.service-banner .hover label {
    font-size: 10px;
    cursor: pointer;
}

.index_banner_menu .span_li {
    margin-right: 0px;
}

/*index case*/
.index_case_title {
    margin-top: 13px;
    border: 1px solid #e1e1e1;
    height: 54px;
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.index_case_title span {
    width: 141px;
    height: 19px;
    float: left;
    display: block;
    margin: 18px 0px 0px 21px;
}

.index_case_title label {
    padding: 18px 0px 0px 10px;
    font-size: 16px;
    color: #7b2997;
    float: left;
    display: inline-block;
}

.index_case_title a {
    margin: 16px 25px 0px 0px;
    width: 80px;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    font-family:"Consolas";
    font-size:9px;
    float: right;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    background: #cba5ce;
}

.index_case_title a:hover {
    text-decoration: underline;
}

.index_case_con {
    padding: 25px 0px 5px 0px;
}

.index_case_con li, .case_list li {
    border: solid 1px #e4e4e4;
    float: left;
    display: inline;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
}

.index_case_con li {
    margin: 0px 20px 35px 15px;
    padding: 20px;
    width: 256px;
    height: 190px;
    position:relative;
    top:0px;
    left:0px;
    
}

.index_case_con .span_li {
    margin: 0px 0px 35px 0px;
}

.index_case_line, .case_line {
    height: 9px;
    position: absolute;
    bottom: -9px;
    left: 0px;
}

.index_case_line {
    width: 310px;
    background: url(../images/line.jpg) no-repeat;
}

.index_part_con {
    padding: 20px;
    border: 1px solid #e1e1e1;
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.index_wit {
    padding-right: 19px;
    border-right: dashed 1px #e3e3e3;
    width: 290px;
}

.index_wit_title {
    height: 19px;
    overflow:hidden;
}

.index_wit_title span, .index_customer_title span, .index_info_title span {
    height: 19px;
    float: left;
    display: inline-block;
}

.index_wit_title span {
    width: 147px;
    height: 19px;
    background-position: -143px 0px;
}

.index_wit_title label, .index_customer_title label, .index_info_title label {
    /*padding: 3px 0px 0px 10px;*/
    padding-left:10px;
    line-height:20px;
    font-size: 16px;
    color: #7B2997;
    float: left;
    display: inline-block;
}

.index_wit_con {
    height: 238px;
    padding-top: 25px;
    overflow:hidden;
}

.index_wit_con img {
    padding-bottom: 10px;
}

.index_wit_con p {
    line-height: 20px;
    text-indent: 2em;
}

.index_customer {
    padding: 0px 19px;
    width: 294px;
    border-right: dashed 1px #e3e3e3;
}

.index_customer_title span {
    width: 141px;
    background-position: -292px 0px;
}

.index_customer_con {
    margin-top: 25px;
    width: 294px;
    height: 108px;
    background: url(../images/index_bg.jpg) no-repeat;
}

.index_customer_con li img{
    height: inherit;
}

.index_customer_more {
    margin-top: 15px;
    height: 21px;
    text-align: right;
}

.index_customer_more a, .service_more a {
    width: 70px;
    height: 18px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    font-family:"Consolas";
    font-size:9px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    background: #cacaca;
}

.index_customer_more a:hover, .service_more a:hover {
    text-decoration: none;
    background: #cba7cd;
}

.index_customer_con li {
    margin: 1px 0px 0px 13px;
    width: 81px;
    height: 58px;
    float: left;
    display: inline;
    
}

.index_info {
    width: 295px;
}

.index_info_title span {
    width: 181px;
    background-position: -250px -21px;
}

.index_info_con {
    padding-top: 25px;
    min-height:238px;
}

.index_info_con li {
    height: 24px;
    line-height: 24px;
}

.index_info_con li a {
    padding-left: 15px;
    width: 175px;
    height: 24px;
    float: left;
    display: inline-block;
    overflow:hidden;
    background: url(../images/ico1.png) no-repeat left -23px;
}

.index_info_con li a:hover {
    color: #7b2998;
    background: url(../images/ico1.png) no-repeat left 8px;
}

.index_info_con li label {
    width:100px;
    color: #999999;
    text-align: right;
    float: right;
    display: inline-block;
}

.index_info_con li label img {
    padding-top: 6px;
}

/*bottom*/
.bottom {
    border-top: solid 1px #dedede;
    margin-top: 15px;
    height: 55px;
}

.bottom_con {
    padding-top: 5px;
    width: 1000px;
    height: 30px;
    line-height: 30px;
}

.bottom_con_l a {
    padding: 0px 5px;
}

.bottom_con_r {
    color: #333333;
    text-align: right;
    padding-right: 40px;
}

.bottom_con_r span {
    padding-left: 10px;
}

.foot {
    width: 1000px;
}

.foot_logo {
    height: 88px;
}

.foot_logo img {
    padding-left: 570px;
}

.foot_con {
    
    height: 111px;
    line-height: 24px;
    text-align: center;
    
}

.foot_con h4 {
    font-size: 16px;
    letter-spacing: 4px;
}

/*case*/
.banner_menu {
    margin-top: 7px;
    border-top: dashed 1px #dddddd;
    border-bottom: dashed 1px #dddddd;
    padding: 18px 0px;
    height: 22px;
}

.banner_menu li {
    width: 80px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    float: left;
    display: inline;
}

.banner_menu li span, .banner_menu li label {
    width: 8px;
    height: 22px;
    display: inline-block;
    
    background-repeat: no-repeat;
    background-position: 0px -22px;
}

.banner_menu li span {
    float: left;
}

.banner_menu li label {
    float: right;
}

.banner_menu li .hover {
    background-position: 0px 0px;
}

.banner_menu li a:hover, .banner_menu li .hover_a {
    color: #7b289c;
    font-weight:bold;
    text-decoration: none;
}

.path {
    height: 40px;
    line-height: 30px;
    color: #333333;
}

.path a {
    padding: 0px 5px;
}

.path label {
    padding-left: 5px;
}

.case_list li {
    margin: 0px 7px 20px 0px;
    padding: 15px;
    width: 210px;
    height: 161px;
}
.case_list li img{
    width: 215px;
    height: 161px;
}
.case_list .span_li {
    margin: 0px 0px 30px 0px;
}

.case_line {
    width: 259px;
    background: url(../images/case_line.jpg) no-repeat;
}

.case_list li.hover {
    background: #3e3a39;
}

.video_case_ico, .case_list .video_hover {
    width: 69px;
    height: 69px;
    position: absolute;
    top: 61px;
    left: 94px;
    cursor: pointer;
}

.video_case_ico {
    background: url(../images/video_ico.png) no-repeat;
}

.case_list .video_hover {
    background: url(../images/video_ico1.png) no-repeat;
}

.pag {
    border-top: dashed 1px #cacaca;
    height: 60px;
    line-height: 30px;
    text-align: right;
    color: #999999;
}

.pag span {
    padding: 0px 5px;
}

.pag label {
    padding: 0px 20px 0px 5px;
}

.pag a {
    padding: 0px 5px;
}

.case_title, .index_case_tl {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
}

.case_title {
    width: 227px;
    top: 131px;
    left: 15px;
}

.index_case_tl {
    width: 268px;
    top: 160px;
    left: 20px;
}

.video_title, .info_title {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.video_video {
    height: 500px;
    text-align: center;
}

.video_present {
    padding: 20px 0px;
}

.video_present h3 {
    padding: 10px 0px;
    font-size: 16px;
}

.video_present p {
    text-indent: 2em;
    line-height: 24px;
}

.video_switch {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

/*information*/
.news_list_one {
    margin-bottom: 15px;
    padding: 15px;
    border: solid 1px #e3e3e3;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
}

.news_list_l {
    width: 570px;
    height: 120px;
}

.news_list_l h2 {
    padding-bottom: 5px;
    font-size: 16px;
}

.news_list_l p {
    width: 570px;
    height: 66px;
    line-height: 22px;
    display: inline-block;
    overflow: hidden;
    color: #666666;
}

.news_list_more {
    padding-top: 5px;
    height: 25px;
}

.news_list_more span {
    line-height: 30px;
    color: #d6d6d6;
    float: left;
    display: inline-block;
}

.news_list_more a {
    margin-top: 1px;
    padding: 0px 10px;
    height: 23px;
    line-height: 23px;
    color: #ffffff;
    float: right;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #c9cbca;
}

.news_list_more a:hover {
    text-decoration: none;
    background: #cba7cd;
}

.news_list_r {
    width: 220px;
    height: 120px;
}

.info_title {
    color: #7c2898;
}

.info_con, .customer_con {
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
}

.info_con {
    padding: 10px 50px 20px 50px;
}

.info_message {
    border-bottom: solid 1px #e4e4e4;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.info_message span {
    padding: 0px 10px;
}

.info_detail {
    padding-bottom: 30px;
    border-bottom: dashed 1px #e4e4e4;
    position: relative;
}

.info_detail h3 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.info_detail p {
    text-indent: 2em;
    line-height: 24px;
}

.info_detail img {
    padding: 10px 0px;
}

.info_ico {
    width: 16px;
    height: 13px;
    bottom: -6px;
    left: 0px;
    background: url(../images/info_ico.jpg) no-repeat;
}

.case_list .video_switch {
    padding-top: 20px;
}

/*customer*/
.customer_con {
    padding: 40px 0px 20px 40px;
}

.customer_con li {
    margin-right: 24px;
    width: 172px;
    height: 175px;
    float: left;
    display: inline-block;
}

.customer_con li img {
    border: solid 1px #efefef;
    box-shadow: 3px 3px 0px #efefef;
    -moz-box-shadow: 3px 3px 0px #efefef;
    -webkit-box-shadow: 3px 3px 0px #efefef;
}

.customer_con li p {
    padding-top: 5px;
    line-height: 20px;
    text-align: center;
}

.customer_pag {
    margin-top: 20px;
    height: 40px;
}

/*service*/
.service_banner .path {
    margin-top: 10px;
    border-top: dashed 1px #dddddd;
}

.service_title {
    margin: 25px 0px;
    width: 248px;
    height: 25px;
    background-position: 0px -21px;
}

.service_con {
    padding-bottom: 10px;
}

.service_con_l, .service_con_m, .service_con_r {
    width: 280px;
}

.service_con_l {
    margin-right: 4px;
}

.service_present {
    padding-top: 5px;
    border: solid 1px #d6d6d6;
    border-top: none;
}

.service_present_con {
    background: #ffffff;
    min-height:449px;
}

.service_present_text {
    padding: 20px;
    line-height: 22px;
}

.service_present_con h4 {
    padding: 5px 20px;
    font-size: 14px;
    color: #999999;
}

.service_more {
    padding: 10px 20px;
    margin-top: 20px;
    border-top: dashed 1px #e7e7e7;
    text-align: right;
}

.downloads_con .tr_bg {
    background: #cacaca;
    font-weight: bold;
}

.downloads_con .tr_bg td {
    border-bottom: none;
    height: 30px;
}

.downloads_con .tr_bg td.tl {
    background: none;
}

.downloads_con td {
    border-bottom: dashed 1px #cacaca;
    height: 40px;
}

.downloads_con td.tl {
    padding-left: 20px;
    background: url(../images/downloads_ico2.jpg) no-repeat 7px 16px;
}

.downloads_con td.date {
    color: #999999;
}

.world_job {
    padding: 20px 0px 10px 0px;
    border-bottom: dashed 1px #bbbbbb;
}

.world_job h5 {
    font-size: 14px;
    font-weight: bold;
}

.world_job h5 label {
    padding-right: 10px;
}

.world_job p {
    text-indent: 0em;
}

.world_job_con .info_detail {
    border-bottom: none;
}

/*contact*/
.info_con_contact {
    width: 850px;
    height: 350px;
    border: 1px solid #dfdfdf;
    background: white;
}

.contact_detail {
    width: 370px;
    height: 350px;
    float: left;
}

.contact_map {
    width: 370px;
    height: 350px;
    float: left;
}

.contact_picture {
    margin-left: 30px;
    margin-top: 40px;
}

.info_con_contact p {
    margin-left: 40px;
    margin-top: 10px;
}
.contact_name {
    float: left;
}
/*message*/
.info_con_message {
    width: 850px;
    /*height: 600px;*/
    border: 1px solid #f2f2f2;
    background: white;
}
.message_complay {
    float: left;
}
.message_info_title {
    font-size: 15px;
    margin-left: 50px;
    margin-top: 40px;
	color:#3d3835;
}
.info_con_message p{
	margin-left: 50px;
    margin-top: 10px;
}
.info_con_message span{
	color:#b07ec3;
}
.message_complay {
    margin-left: 50px;
    margin-top: 30px;
}
.btntext{
	padding:5px;
	margin-left:5px;
}
.message_tel {
    margin-left: 260px;
    margin-top: 30px;
}

.message_name {
    margin-left: 50px;
    margin-top: 20px;
    float: left;
}

.message_email {
    margin-left: 260px;
    margin-top: 20px;
}

.message_leave {
    margin-left: 50px;
    margin-top: 20px;
	
}
.message_leave label{
	color:#585657;
}
.leave{
	float:left;
}
.sub {
    border: 1px solid #cba5ce;
    background: #cba5ce;
    margin-left: 80px;
    margin-top: 20px;
    width: 60px;
    height: 30px;
	color:#fffffd;
}
.res {
    border: 1px solid #cacaca;
    background: #cacaca;
    margin-left: 20px;
    width: 60px;
    margin-top: 20px;
    height: 30px;
	color:#fefefe;
}
/*cultural*/
 .info_con_cultural p{
 	margin-left:20px;
	padding:10px;
	letter-spacing:2px;
 }
 .info_con_cultural h2{
 	font-size:18px;
	color:#c888d2;
 }
 .info_con_cultural hr{
 	border-bottom:1px dashed #bbbbbb;
	border-top:none;
	border-left:none;
	border-right:none;
	width:850px;
	margin-top:20px;
 }
.info_con_cultural h3{
	margin-top:10px;
	letter-spacing:2px;
	color:#8a8a8a;
}

/*zmwx*/
 .info_con_zmwx{
 	width: 850px;
  
 	border:1px solid #dfdfdf;
	background: white;
	letter-spacing:2px;}
.zmwx_info_head{
	margin-left:75px;
	margin-top:50px;
	
}
.zmwx_info{	
	padding:5px;
	margin-left:40px;
}
.zmwx_picture{
	padding:40px 0;
	text-align:center;
}
/*zmteam*/
.info_con_zmteam{
	width: 850px;
 	border:1px solid #dfdfdf;
	background: white;
	letter-spacing:2px;
}

.zmteam_picture{
	width:750px;
	height:500px;
	background:#46A3FF;
	margin:30px;
	margin-left:45px;
	margin-top:15px;	
}
/*process*/
.process_line{
	padding-bottom:60px;
	margin:80px;
	background:url(../images/process_line.jpg) repeat-y 0px 0px;
}
.process_line label{
	color:#aaaaaa;
}
.process_line p{
	position:relative;
	padding:60px 0px 0px 25px;
}
.process_line span{
	width:16px;
	height:15px;
	display:inline-block;
	position:absolute;
	top:60px;
	left:-5px;
	background:url(../images/process_ico.jpg) no-repeat;
}
.info_con_zmprocess{
	width: 850px;
 	border:1px solid #dfdfdf;
	background: white;
	letter-spacing:2px;
}
.swipe {
  overflow: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap > li,
.swipe-wrap > div {
  float:left;
  position: relative;
}
.index_banner_img li {
	width: 1000px;
	height: 313px;
}
.service-banner  .swipe-item .swipe-img{
    width:280px;
    height:110px;	
}
.service-banner  .swipe-text {
	display: none;
}
.nav-box {
	text-align: center;
	position: absolute;
	z-index: 10;
	font-size: 0;
	bottom: 10px;
	width: 100%;
}
.nav-box span {
	font-family: Arial;
	font-size: 10px;
	display: inline-block;
	height: 23px;
	width: 23px;
	text-align: center;
	line-height: 23px;
	*display: inline;
	*zoom: 1;
	margin-right: 5px;
}
.nav-box span.active {
	background-image:url(../images/ico_nav.png);
	color: #fff;
}
.index_case_title label{
    
}
.foot_con ,.info_con,.info_title{
    color:#333333;
}

.marquee_img img{
    width:152px;
    height: 100px;
}
.top_con_phone img{
    width: 415px;
    height: 110px;
}
.marquee_img img{
    padding-left: 10px;
    padding-right: 10px;
}
video_switch a:link{
    color: #333333;
    text-decoration: none;
}